body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

@media screen and (max-width: 576px) {
  .main {
    flex-direction: column;
  }
}
